body {
    background-color: lighten(rgb(156, 240, 248), 30%);
    min-width: 790px;
    height: 500px;
}

h1 {
    color: #269CE9;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.my-table {
    width: 760px;
    height: 350px;
    color: #269CE9;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 8px;
}

.my-table tr:nth-child(odd) {
    background: rgb(204, 252, 252);
}

.my-table th {
    width: 33%;
    height: 20px;
    border: 1px solid #ddd;
    padding: 8px;
}

.my-table td {
    width: 33%;
    height: 20px;
    border: 1px solid #ddd;
    padding: 8px;
}